<section class="featured-events">
  <div class="section-header">
    <h2>Featured Events</h2>
    <a [routerLink]="['/events']" class="view-all">View All Events</a>
  </div>
  <div class="events-container">
    <div *ngFor="let event of featuredEvents;" class="event-card">
      <div class="event-image">
        <img [src]="event.imageUrl|| 'BRM Logo.jpg'" [alt]="event.title"/>
      </div>
      <div class="event-content">
        <h3>{{ event.title }}</h3>
        <p class="event-date">{{ event.date }}</p>
        <p class="event-description">{{ event.summary }}</p>
        <a [routerLink]="['/events', event.id]" class="btn btn-outline">Learn More</a>
      </div>
    </div>
  </div>
</section>
