<div class="hero-container">
    <div class="hero-info">
        <h1>Block Rosary Movement</h1>
        <p>
            To be added by admin
        </p>
    </div>
</div>

<div class="container white multi-col">
    <div class="mission"> 
        <h1>MISSION</h1>
        <p> 
            To be added by admin
        </p>
    </div>

    <div class="vision"> 
        <h1>VISION</h1>
        <p> 
            To be added by admin        
        </p>
    </div>
    <div style="text-align: right; padding-right: 20px;">
        <button class="learn-more-button" routerLink="/info">Learn More</button>
    </div>
</div>

<div class="container blue single-col">
    <div class="documents">
        <h1>LEGAL DOCUMENTS</h1>
        @for (document of legalDocuments; track document.id) {
            <div class="document-card">
                <h2>{{ document.title }}</h2>
                <p>{{ document.description }}</p>
            </div>
        }
    </div>
</div>

<div class="container white single-col location">
    <h1>LOCATION</h1>
    <p> 
        shows scope and chapels of BRM organization
    </p>
    <img src="/Fairview Map - Chapels - BRMayi.jpg">
</div>