<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" [routerLink]="['/']">Block Rosary Movement</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/events']">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/announcements']">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']">Register</a>
                </li>
            </ul>
    </div>
</nav>
