<div class="announcements">
  <h2> Manage Announcement </h2>
  <div class="announcements-container">
    <div *ngIf="announcements$ | async as announcements; else noAnnouncements">
      <div *ngFor="let announcement of announcements" class="announcement-card">
        <span *ngIf="announcement.important" class="important-tag">Important</span>
        <h3>{{ announcement.title }}</h3>
        <p><strong>Date:</strong> {{ announcement.date }}</p>
        <p><strong>Author:</strong> {{ announcement.author }}</p>
        <p><strong>Description:</strong> {{ announcement.description }}</p>
        <p><strong>Summary:</strong> {{ announcement.summary }}</p>
        <div *ngIf="announcement.imageUrl" class="image-container">
          <img [src]="announcement.imageUrl" [alt]="announcement.title">
        </div>
        <button class="btn btn-primary" (click)="editAnnouncement(announcement)">Edit</button>
        <button class="btn btn-danger" (click)="deleteAnnouncement(announcement.id)">Delete</button>
      </div>
    </div>
    <ng-template #noAnnouncements>
      <p>No announcements found.</p>
    </ng-template>
  </div>
</div>

<section class="create-announcement">
  <h2>Create or Edit Announcement</h2>
  <form (ngSubmit)="saveAnnouncement()">
    <div class="form-group">
      <label for="id">ID (Optional)</label>
      <input type="text" id="id" [(ngModel)]="announcement.id" name="id">
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" [(ngModel)]="announcement.title" name="title" required>
    </div>

    <div class="form-group">
      <label for="author">Author (Optional)</label>
      <input type="text" id="author" [(ngModel)]="announcement.author" name="author">
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" id="date" [(ngModel)]="announcement.date" name="date" required>
    </div>

    <div class="form-group">
      <label for="description">Announcement Description</label>
      <textarea id="description" [(ngModel)]="announcement.description" name="description" required></textarea>
    </div>

    <div class="form-group">
      <label for="summary">Summary</label>
      <textarea id="summary" [(ngModel)]="announcement.summary" name="summary" required></textarea>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" id="imageUrl" [(ngModel)]="announcement.imageUrl" name="imageUrl">
    </div>

    <div class="form-group">
      <label for="important">Important</label>
      <input type="checkbox" id="important" [(ngModel)]="announcement.important" name="important">
    </div>

    <button class="btn btn-primary" type="submit">Save Announcement</button>
    <button type="button" class="btn btn-secondary" (click)="resetForm()">Cancel</button>
  </form>
</section>
