.announcements {
  padding: 20px;

  .announcements-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 15px;

    .announcement-card {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 15px 15px 4vh 15px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 2vh;


      .important-tag {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #ff4757;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 0.8em;
      }

      button {
        width: fit-content;
        border: none;
        margin: 1em 1em 0 0;
      }
    }
  }
}


.create-announcement {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #2c3e50;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
      color: #34495e;
    }

    input, textarea, select {
      width: 100%;
      padding: 12px;
      border: 1px solid #bdc3c7;
      border-radius: 5px;
      font-size: 16px;
    }

    input[type="checkbox"] {
      width: auto;
    }

    textarea {
      height: fit-content;
      min-height: 10vh;
      max-height: 20vh;
      box-sizing: border-box;
      resize: none;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
}
