<div class="container">
  <h1>EVENTS</h1>

  <!-- LOADING SPINNER -->
  <div *ngIf="isLoading" class="loading">Loading...</div>

  <!-- UPCOMING EVENTS SECTION -->
  <div *ngIf="!isLoading" class="section">
    <div class="section-header">
      <h2>Featured & Upcoming Events</h2>
      <select>
        <option value="">All Months</option>
        <option *ngFor="let month of months">{{ month }}</option>
      </select>
    </div>

    <div class="card-holder">
      <div class="events-container">
        <div *ngFor="let event of upcomingEvents" class="event-card">
          <div class="event-image">
            <img
              [src]="checkImageUrl(event.imageUrl)"
              [alt]="event.title"
            />
          </div>
          <div class="event-content">
            <h3>{{ event.title }}</h3>
            <p class="event-date">{{ event.date | date: 'longDate' }}</p>
            <p class="event-description">{{ event.summary }}</p>
            <button class="join btn btn-outline" (click)="onSubmit(event)">Join Now</button>
            <a [routerLink]="['/events', event.id]" class="btn btn-outline">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PREVIOUS EVENTS SECTION -->
  <div *ngIf="!isLoading" class="section">
    <div class="section-header">
      <h2>Previous Events</h2>
      <select>
        <option value="">All Months</option>
        <option *ngFor="let month of months">{{ month }}</option>
      </select>
    </div>

    <div class="card-holder">
      <div class="events-container">
        <div *ngFor="let event of previousEvents" class="event-card">
          <div class="event-image">
            <img
              [src] = "checkImageUrl(event.imageUrl)"
              [alt]="event.title"
            />
          </div>
          <div class="event-content">
            <h3>{{ event.title }}</h3>
            <p class="event-date">{{ event.date | date: 'longDate' }}</p>
            <p class="event-description">{{ event.summary }}</p>
            <a [routerLink]="['/events', event.id]" class="btn btn-outline">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
