<div class="manage-requests">
  <h1>Manage Requests</h1>
  <ul>
    <li *ngFor="let user of users$ | async">
      <div class="request-info">
        <div class="request-details">
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <p>Email: {{ user.email }}</p>
        </div>
        <div class="request-actions">
          <button (click)="approveRequest(user)">Approve</button>
          <button (click)="rejectRequest(user)">Reject</button>
        </div>
      </div>
    </li>
  </ul>
</div>
